body {
	display: flex;
    font-family: sans-serif;
	margin: 0;

	/*pour avoir version A4*/
	max-width: 950px;
    margin: 0 auto;
}

img {
	max-width: 100%;
	border-radius: 50%;
}

aside {
	display:flex;
	flex-direction: column;
	padding-top: 50px;
	max-width: 450px;
	background: #FFCA28;
}

aside h2 {
	text-transform: uppercase;
    background: #212121;
    text-align: center;
    color:#FFCA28;
    font-weight: normal;
    font-size: 17px;
    padding: 10px 0;
}

ul {
	list-style-type: none;
    font-size: 18px;
}

h1 {
	margin: 0;
	font-size: 50px;
    font-weight: normal;
}

li {
	margin-top: 10px;
}

p {
	margin: 0;
}

h1 span {
	color: #FFCA28;
}

h3 {
	margin: 0;
}

h4 {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 0;
}

h5 {
	margin-top: 8px;
	font-size: 13px;
} 

header {
	margin: 80px 0 0 50px;
}


.mon-parcours-pro {
	margin-left: 50px;
	margin-right: 40px;
    margin-top: 70px;
}

.mon-parcours-pro h2 {
	position: relative;
	text-transform: uppercase;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.mon-parcours-pro svg {
	width: 40px;
}

.formation-section svg {
	width: 15px;
}

.mon-parcours-pro span {
	padding-left: 20px;
}

.formation-section {
	display: flex;
	margin-top: 20px;
	padding-bottom: 20px;
}

.formation-section > div {
	padding-left: 50px;
}

.formation-section h3 {
	display: flex;
    width: 400px;
    align-items: flex-start;
}

.mon-parcours-pro {
	font-size: 15px;
}

.mon-parcours-pro h2:before {
	position: absolute;
    content: '';
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 2px;
    background:#FFCA28;
}

#corps-principal p {
	position: relative;
}

#corps-principal p:before {
	position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    width: 50px;
    height: 2px;
    background:#FFCA28;
}

.loisirs div {
	text-align: center;
	padding:9px 3px;
}

.fa, .fas {
	font-size: 30px; 
}

.a-propos-de-moi p {
	font-size: 15px;
    padding: 120px 40px;
}

.photo {
	width: 60%;
    margin: 0 auto;
}

.recommandations-texte {
	display: flex;
	justify-content: space-around;
}

.recommandations-texte div p:first-child {
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 5px;
}

.recommandations-texte div p {
	padding-top: 3px;
}

.recommandations-texte div p:not(:last-child) {
	font-weight: bold;
}

/* Smartphone en mode paysage et résolutions inférieures */
@media only screen and (max-width: 959px) {
/* smartphone en mode portait */

body {
	display: flex;
	flex-flow: column-reverse;
    font-family: sans-serif;
	margin: 0;
}

aside {
	display:flex;
	flex-direction: column;
	text-align: center;
	padding-top: 50px;
	max-width: 959px;
	background: #FFCA28;
}

h1 {
	margin: 0;
	font-size: 50px;
    font-weight: normal;
    text-align: center;
}

.formation-section > div {
	padding-left: 50px;
}

#corps-principal p {
	position: relative;
	text-align: center;
}

#corps-principal p:before {
	position: absolute;
    content: '';
    left: auto;
    bottom: -2px;
    width: 50px;
    height: 2px;
    background:#FFCA28;
}

.formation-section h3 {
	padding-bottom: 20px;
}
.photo {
	width: 40%;
    margin: 0 auto;
}

.recommandations-texte {
	display: flex;
	justify-content: space-around;
}

.recommandations-texte div {
	padding-left: 5px;
}

}

/* Smartphone en mode portrait */
@media screen and (max-width: 479px) {

body {
	display: flex;
	flex-flow: column-reverse;
    font-family: sans-serif;
	margin: 0;
}

aside {
	display:flex;
	flex-direction: column;
	text-align: center;
	padding-top: 50px;
	max-width: max-content;
	background: #FFCA28;
}

.formation-section {
	display: flex;
	margin-top: 20px;
	flex-flow: column;
}

.formation-section h3 {
	display: flex;
    width: 400px;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.mon-parcours-pro {
	font-size: 15px;
}

}
